<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hacksc.gezure.gezure" >

    <!-- Google API Integration -I -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- End of Google API Integration -I -->

    <!-- GCM Client-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission android:name="edu.usc.bphilip.gcmclient2.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <uses-permission android:name="edu.usc.bphilip.gcmclient2.permission.C2D_MESSAGE"/>
    <!-- end of GCM Client -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hacksc.gezure.gezure.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Video Activity -->
        <activity android:name=".VideoPage" android:label="@string/app_name" >
            android:parentActivityName="com.example.myfirstapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hacksc.gezure.gezure.MainActivity" />
        </activity>
        <!-- End of Video activity -->
        <!-- Google API Integration -II -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- End of Google API Integration - II changes -->

        <!-- Youtube integration -->
        <activity
            android:name="com.google.android.youtube.api.StandalonePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <!-- End of youtube integration-->


        <!-- GCM Client -->
        <receiver android:name="com.hacksc.gezure.gezure.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
             <category android:name="com.hacksc.gezure.gezure"/>
            </intent-filter>

        </receiver>
        <service android:name="com.hacksc.gezure.gezure.GcmIntentService"/>
         <!--End of GCM Client -->
    </application>

</manifest>
